<!-- ======= Intro Section ======= -->
<div id="intro" class="intro bg-image">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table d-table">
        <div class="d-table-cell align-middle">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am <span class="name-slider-items">{{_service.info.name}}</span><i class="name-slider"></i></h1>
                <p class="intro-subtitle"><span class="text-slider-items">Software Developer, Full Stack Web Developer, Java Developer</span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->
